<div class="search">
  <input
    #inputField
    type="text"
    placeholder="Search"
    (keyup)="newSearchInput(inputField.value)"
  />
</div>
<ng-container *ngFor="let task of tasks">
  <div
    class="task"
    [ngClass]="task.importance"
    [routerLink]="['/task', task.id]"
  >
    <div class="header">
      <div class="title">{{ task.title }}</div>
      <div class="dueDate">{{ task.dueDate | date }}</div>
    </div>
    <div class="description">{{ task.description }}</div>
  </div>
  <button (click)="delete(task)">Delete</button>
</ng-container>

<button [routerLink]="['/create']">Add Task</button>
